.pad_top{
	padding-top: 10px;
}
.colored-section {
  background-image:url(01.jpg);
  padding:150px;
  padding-bottom: 180px;
}
.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
  color: white;
}
/* Features */
#features{
  position: relative;
  /* z-index: 1; under image z-index pdf */
}
.features-box {
  padding: 5%;
}
.feature-text {
  font-size: 2rem;
}